footer.footer.mt-auto(class=footerStyle)
    .container-fluid
        .row
            .col-md-6.small
                | Copyright &copy; The Miracle Mile 2020
            .col-md-6.text-md-right.small
                | Created with 
                i(data-feather='heart')
                |  by Joshua Blew
                //- a(href='#!') Privacy Policy
                //- | 
                //- | &middot;
                //- | 
                //- a(href='#!') Terms &amp; Conditions
