extends ../layouts/miracles-layout.pug

block config
    - var bodyClass = 'nav-fixed'
    - var pageTitle = 'Founder\'s story'
    - var pageIcon = 'activity'
    - var sidenavStyle = 'sidenav-light'
    - var topnavStyle = 'navbar-light bg-white'
    - var footerStyle = 'footer-light'

block content
    .container-fluid.mt-5
        .row 
            .col-md-12
                .card.card-scrollable(style='card-scrollable-max-height: 20rem;')
                    .row.no-gutters
                        .col-md-4
                            img.img-fluid(src='/assets/img/profile/me.jpg', alt='...')
                        .col-md-8
                            h1.card-header Hi there, I'm Joshua!
                            .card-body
                                //- h1.card-title Hi there, I'm Joshua!
                                p.card-text
                                    | I built The Miracle Mile for one reason and one reason only: 
                                    | to inspire those seeking the Lord's grace.
                                p.card-text
                                    | Let me be honest with you, I've struggled with watching pornography
                                    | for 10 years. From the ages of 10 to 19, I couldn't shake the impulse
                                    | to close the door, pick up the phone, and watch something I shouldn't 
                                    | have been watching. This was a major sin in my life, and it kept
                                    | me from really growing close to the Lord and loving Him for who He truly is.
                                p.card-text
                                    | It wasn't until God brought me to rock bottom that I realized I needed
                                    | to face my sin. These were difficult times, but the only place I could
                                    | turn was up. All I could do was look to Him and ask for forgiveness and help,
                                    | and that's exactly what He did.
                                p.card-text
                                    | The Lord saved me. He forgave me, healed the relationships that had been broken,
                                    | and most importantly gave me the strength to fight my sin. I'm proud to say that 
                                    | I haven't watched pornography since March 5, 2020. It's all because of Him, which
                                    | is why I created The Miracle Mile.
                                p.card-text
                                    | God has touched my life and healed a wound that so many people across this world
                                    | struggle with too. Why not share my story so others can be empowered and see God's power
                                    | literally change lives? So I built this website. I built it so my story can be heard a
                                    | thousand times and change a thousand people for the better. I built it so your story 
                                    | can be heard a thousand times and change even more lives.
                                p.card-text
                                    | If the Lord Almighty has influenced your life, performed a miracle, stepped in, answered a prayer
                                    | spoken to you, healed you, or acted in any other way...share your miracle!
                                    | Share it so others can be empowered to fight their issues and to bring glory to the Lord's name.
                                p.card-text
                                    | With love I thank you, Joshua Blew

                         

                            


        
append scripts